

mixin dropdown-template(objDropdown)
    form.dropdown.dropdown_style
        .dropdown__container-value
            label.dropdown__name(for=objDropdown.idValue)=objDropdown.nameDropdown
            .dropdown__value
                .dropdown__value-text
                    input(placeholder=objDropdown.placeholderDropdown id=objDropdown.idValue disabled)
                .dropdown__icon
                    span.material-icons expand_more
        .dropdown__container-settings(style='height:' + objDropdown.heightDropdownSettings + ';' + 'display:' + objDropdown.settingsDisplay)
            .dropdown__settings
                ul.dropdown__settings-list
                    each value in objDropdown.settingsDropdown
                        li
                            label(for=value.idValue)=value.nameButtons
                            div
                                button(type='button' id=value.idMinus)
                                    span -
                                div
                                    input(type='number', id=value.idValue value=0 data-sum=value.sum disabled)
                                button(type='button' id=value.idPlus)
                                    span +


                if objDropdown.buttonsDisplay
                    .dropdown__buttons
                        div
                            button(type='reset' id=objDropdown.buttonReset style='color: #ffffff') Очистить
                            button(type='submit' id=objDropdown.buttonApply) Применить
